#Arduino UNO

SUBSYSTEMS=="usb", 
ATTRS{idProduct}=="0001", ATTRS{idVendor}=="2341", 
GROUP="dialout"

#Arduino Micro

SUBSYSTEMS=="usb",
ATTRS{idProduct}=="8037", ATTRS{idVendor}=="2341",
GROUP="dialout"

#Arduino YUN

SUBSYSTEMS=="usb",
ATTRS{idProduct}=="8041", ATTRS{idVendor}=="2341",
GROUP="dialout"

#Arduino DUE

SUBSYSTEMS=="usb",
ATTRS{idProduct}=="003d", ATTRS{idVendor}=="2341",
GROUP="dialout"

#Arduino ESPLORA

SUBSYSTEMS=="usb",
ATTRS{idProduct}=="803c", ATTRS{idVendor}=="2341",
GROUP="dialout"

